//extends layout
//
//block content
//    h1= title
//
//
//    form#quizQuestion
h3 Translate the following word into "#{fromLang}" :
span Word:
strong#wordToTranslate
div Enter your answer:
    input(type='text', name='answer')
div
    input(type="submit")

